.container-oder{
  max-width: 80%;
  margin: 0 auto;
}
.ant-col.ant-form-item-label label{
min-width: 80px;
}
// input[type="text"]{
//   max-width: 50%;
// }
// .ant-form-item-control-input-content .ant-btn.ant-btn-dashed.ant-btn-block{
//   border-radius: 0;
// }
// .ant-form-item-control-input-content .ant-btn.ant-btn-primary{
//   border-radius: 0;
// }
.ant-spin.ant-spin-spinning[aria-live="polite"]{
  position: relative;
  left: 50%;
  // top:50%;
  /* margin: 0 auto; */ 
  transform: translateX(-50%);
  // transform: translateY(-50%);
}