.container-oder{
  max-width: 80%;
  margin: 0 auto;
}
button{
  border-radius: 0;
}
.ant-form-item-control-input-content .ant-btn.ant-btn-dashed.ant-btn-block{
  border-radius: 0;
}
.ant-form-item-control-input-content .ant-btn.ant-btn-primary{
  border-radius: 0;
}